

body {
    background-color: #748A9B;
    width: 750px;
    margin: 0 auto;
}

header {
    display: table;
    background-image: url("Images/h1.jpg");
    height: 140px;
}
.title {
    padding-top: 15px;
    padding-bottom: 20px;
    display: table-cell;
    width: 42%
}

.top-nav {
    padding: 15px;
    display: table-cell;
    width: 58%;
    color: #748A9B;
    font-size: 10px;
}

h2 {
    color: white;
    font-size: 16px;
}

h3 {
    color: white;
    font-size: 12px;
}

a {
    color: #A7D3F6;
    font-size: 12px; 
    font-weight: bold;
}

.image-container {
    display: flex;
    justify-content: space-around;
    background-color: #8ea1b1;
}

.column-left {
    padding: 10px;
    width: 25%;
    float: left;
    color: white;
    font-size: 14px;
}

.column-right {
    width: 65%;
    float: right;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.bottom-nav {
    text-align: right;
    padding-bottom: 15px;
}

.bottom-nav a abbr {
    margin-right: 10px;
}

.wrapper {
    background-color: #8ea1b1;
    height: 1275px;
}